/* google fonts import roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* General styling */
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;


}
body{
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
    background: #E5E5E5;
    max-width: 1100px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Header */
.circle-logo {
    width: 100px;
    padding: 20px;
    margin-top: 10px;
  }

  header > div {
    width: 100%;
  
  }
  
  nav {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #C8C8C8;
  }
  nav label, #hamburger {
    display: none;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 100%;
  }
  .nav-link:hover{
    color:#072ac8 ;
  }
  .link-blue{
    color: #0082f3;
  }
  nav a {
    text-decoration: none;
    color: black;
  }

  nav a {
    color: #1a1a1a;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Show Hamburger */
  nav label {
    display: inline-block;
    color: rgb(25, 25, 25);
    font-style: normal;
    font-size: 2em;
    padding: 20px;
    position: absolute;
    top: -4px;
    right: 20px;
    cursor: pointer;
  }
  
  
  /* Break down menu items into vertical */
  
  .nav-link{
    font-size: 1.2em;
    text-align: left;
    display: block;
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 10px;
    color: #6b708d;
  
  }
  .nav-link:hover{
    color:#072ac8 ;
  }
  .link-blue{
    color: #0082f3;
  }
  
  
  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  
  #page-nav input[type='checkbox']:checked ~ ul {
    animation-duration: 0.5s;
    animation-name: slidein;
    display: block;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .contact{
    display: none;
  }
/* main */
main{
    padding: 0 5%;
}
/* titulo */
h1{
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}
/* formulario */
.container{
    width: 100%;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
}
/* nombre */
.name{
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 110px;
}
.name label{
    display: block;
    font-size: 1.25rem;
    color: #6b708d;
    margin-bottom: 0.6rem;
}
.name input{
    height: 60%;
    width: 100%;
    margin-bottom: 0.6rem;
    border: 0;
    padding-left: 15px;
    font-size: 1.2rem;
    background-color: rgba(107, 112, 141, 0.1);
}
/* email */
.email{
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;  
}
.email label{
    display: block;
    font-size: 1.25rem;
    color: #6b708d;
    margin-bottom: 0.6rem;
}
.email input{
    height: 60%;
    width: 100%;
    margin-bottom: 0.6rem;
    border: 0;
    padding-left: 15px;
    font-size: 1.2rem;
    background-color: rgba(107, 112, 141, 0.1);
}
/* telefono */
.phone{
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
}
.phone label{
    display: block;
    font-size: 1.25rem;
    color: #6b708d;
    margin-bottom: 0.6rem;
}
.phone input{
    height: 60%;
    width: 100%;
    margin-bottom: 0.6rem;
    border: 0;
    padding-left: 15px;
    font-size: 1.2rem;
    background-color: rgba(107, 112, 141, 0.1);
}
/* mensaje */
.message{
    grid-area: 4 / 1 / 5 / 2;
    width: 100%;
}
.message label{
    display: block;
    font-size: 1.25rem;
    color: #6b708d;
    margin-bottom: 0.6rem;
}
.message textarea{
    height: 90%;
    width: 100%;
    margin-bottom: 0.6rem;
    border: 0;
    padding-left: 15px;
    font-size: 1.2rem;
    background-color: rgba(107, 112, 141, 0.1);
}
/* submit */
.boton{
    grid-area: 5 / 1 / 6 / 2; 
    width: 100%;
    height: 70%;
    background: #072ac8;
    border: 0;
    color: white;
    margin-top: 25px;
    cursor: pointer;
    font-size: 1.2rem;
}
/* mensajes de respuesta */
.message-form-succes{
    display: none;
}
.message-form-succes-active{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  height: 40px;
  background-color: rgba(11, 130, 11, 0.248);
}
.message-form-fail{
    display: none;
}
.message-form-fail-active{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  height: 40px;
  background-color: rgba(201, 39, 60, 0.248);
}
/* footer */
footer{
    margin-top: 60px;
    width: 96%;
}
.footer-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-logo{
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    background-image: url(../img/logos/circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.footer-info address{
    width: 240px;
    line-height: 150%;
    color: #6B708D;
    margin-bottom:25px;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: start;
}
.footer-links a{
    text-decoration: none;
    color: blue;
    text-align: center;
}

/* media query 768px */
@media screen and (min-width: 768px){
    h1{
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
    }
    form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) 2fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
        /* nombre */
    .name{
        grid-area: 1 / 1 / 2 / 3;
    }
    .email{
        grid-area: 2 / 1 / 3 / 2; 
        
    }
    .phone{
        grid-area: 2 / 2 / 3 / 3;
    }
    .message{
        grid-area: 3 / 1 / 4 / 3;
    }
    .boton{
        grid-area: 4 / 1 / 5 / 3; 
    }
    .border{
      outline: 1px red solid;
    }
    /* footer */
    footer{
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footer-info{
        text-align: left;
        margin-left: 30px;
    }
    .footer-logo{
        margin: 0 0 30px 0;
    }
    .footer-links{
        grid-column-gap: 50px;
        grid-row-gap: 50px
    }
}
/* media query 992px */
@media screen and (min-width: 992px){
    body{
        max-width: 1335px;
    }
    .logo{
        margin-left: 30px;
       }
       .contact{
        display: block;
        margin-right: 20px;
        background: #072ac8;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 120px;
        margin-right: 60px;
      }
      .contact:hover{
        background-color: #0b1957;
      }
      .contact a{
        text-decoration: none;
        color: white;
      }
      header > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row;
      }
      nav {
        width: 400px;
        background: none;
        margin: 0;
      }
      #page-nav ul {
        display: flex;
      }
      /* Show Hamburger */
      nav label {
        display: none;
      }  
      .nav-link{
        margin: 0;
       }
}