/* google fonts import roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* General styling */

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
    
}


body{
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
    background: #E5E5E5;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Header */
.header{
     display: flex;
     justify-content: space-between;
     margin: 10px;
     align-items: center;  
}
/* logo */
.logo-head{
    width: 60px;
    height: 18px;
    background-image: url(../img/logos/circle.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
    margin: 10px;
}
/* nav-bar */
.nav-bar{
    display: none;
}

/* boton contacto */
.contact{
    display: none;
}
/* MAIN */
/* Section 1 */

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.section1-part1{
   display: flex; 
   align-items: center;
   flex-direction: column;
}
/* h1 */
.section1-part1 h1{
    color: #292E47;
    margin-top: 20px;
    font-size: 1.8rem;
    text-align: center;
    max-width: 85%;
    line-height: 2.5rem;
}
/* p */
.section1-part1 p{
    text-align: center;
    max-width: 85%;
    color: #6B708D;
    line-height: 1.7rem;
    margin: 30px;    
}
/* botones  */
.section1-botones{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
.get{
    height: 50px;
    width: 140px;
    background: #072ac8;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see{
    height: 50px;
    width: 140px;
    margin-right: 20px;
    color: #6B708D;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* imagenes section 1  */
.section1-part2{
    margin-top: 30px;
}
.section1-img1{
    display: none;
}
.section1-img2{
   width: 90%;
   display: block;
   margin: auto;
}
.section1-img3{
    display: none;
}

/* section 2 */
.section2{
    margin: 40px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
}
.section2-logo{
    width: 110px;
    margin: 25px;
}
.amazon-logo{
    display: none;
}

/* section 3 */
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.section3 h2{
    color:#292E47;
    font-size: 40px;
    margin-top: 20px;
}
.projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    width: 100%;
}
.project{
    background: white;
    width: 100%;
    margin: 10px auto;

}

/* projects images */

.container-img{
    width: 100%;
    height: 240px;
    margin: auto;
}
.section3-img{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover; 
}
/* parte inferior projects */
.container-txt{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-title{
    margin: 30px 30px 20px;
    color: #292e47;
    font-size: 1.5rem;
    font-weight: 500;
}
.project-txt{
    margin: 0px 30px 10px;
    font-size: 17px;
    font-weight: 400;
}
.container-txt a{
    text-decoration: none;
    color: #072ac8;
    font-size: 17px;
    font-weight: 500;
    margin: 30px;
}

/* section 4 */
.section4{
    height: 450px;
    margin: 0;
    position: relative;
    background-image: url(../img/testimonial-section/orbit.png);
    background-color: #292e47;
    margin-top: 60px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.section4-content{
    display: flex;
    flex-direction: column;
}
.section4-content h3{
    color: white;
    font-size: 30px;
    width: 80%;
    text-align: center;
    margin-top: 50px;
    line-height: 45px;
}
.section4-txt{
    color: #FFC600;
    margin-top: 70px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    width: 80%;
    line-height: 35px;
}
.section4-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
.section4-user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../img/testimonial-section/profile.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.section4-name{
    color: #A2D6F9;
    font-size: 1.1rem;
    font-weight: 500;
}
.section4-web{
    color:#F4F6FC;
    font-size: 0.85rem;
}

/* section 5 */
.section5{
    margin-top: 40px;    
}
/* titulo seccion */
.section5 h1{
    font-size: 1.8rem;
    text-align: center;
}
/* contenido seccion */
.section5-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
}
/* cajas */
.section5-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin:0px 30px;
}
/* imagenes iconos  */
.section5-img1{
    width: 80px;
    height: 80px;
    margin: 40px 0 0 40px;
    border-radius: 50%;
    background-color: #ecf7ff;
    background-image: url(../img/services-section/icons/1.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.section5-img2{
    width: 80px;
    height: 80px;
    margin: 40px 0 0 40px;
    border-radius: 50%;
    background-color: #ecf7ff;
    background-image: url(../img/services-section/icons/2.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.section5-img3{
    width: 80px;
    height: 80px;
    margin: 40px 0 0 40px;
    border-radius: 50%;
    background-color: #ecf7ff;
    background-image: url(../img/services-section/icons/3.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

/* section 6 */
.section6{
    display: flex;
    background-color: #ffc600;
    text-align: center;
}
.section6 h1{
    font-size: 1.8rem;
    margin-top: 100px;
    color:#292E47;
}
.section6-subtitle{
    color: #292E47;
    margin-top: 25px;
    margin-bottom: 40px;
}
/* form */
.section6-email{
    display: flex;
    flex-direction: column;
}
/* email */
.section6-enter-email{
    position: relative;
}
.section6-input-email{
    height: 80px;
    width: 240px;
    padding: 15px 70px;
    display: flex;
    border: 0;
}
.email-img{
    position: absolute;
    left: 8%;
    top: 27%;
    right: auto;
    bottom: auto;
    width: 30px;
    height: 30px;
    background-image: url(../img/newsletter/icon/mail.svg);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
.section6-submit{
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 1.2rem;
    border: 0;
    color: white;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 80px;
    width: 240px;
}
.section6-succes{
    display: none;
}
.section6-fail{
    display: none;
}

footer{
    margin-top: 60px;
}
.footer-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-logo{
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    background-image: url(../img/logos/circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.footer-info address{
    width: 240px;
    line-height: 150%;
    color: #6B708D;
    margin-bottom:25px;   
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-bottom: 100px; 
}
.footer-links a{
    text-decoration: none;
    color: blue;    
}
/* MEDIA QUERY 480PX */
@media screen and (min-width: 480px){
    /* section1 */
    /* titulo */
    .section1-part1 h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    /* botones */
    .section1-botones{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row; 
    }
    /* titulo section 4 */
    .section4-content h3{
        font-size: 40px;
        width: 90%;
    }
    /* titulo section 5 */
    .section5 h1{
        font-size: 2.5rem;
    }
    /* formulario section 6 */
    .section6-submit{
        width: 400px;
    }
    .section6-input-email{
        width: 400px;
    }
}
/* MEDIA QUERY 768PX */
@media screen and (min-width: 768px){
    /* section 1 */
    .section1-part1 h1{
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    .section1-part1 p{
        font-size: 1.3rem;
        line-height: 1.9rem;
    }
    /* section 1 part 2 */
    .section1-img1{
        display: block;
        position: absolute;
        left:0;
        top: 60%;
        right: auto;
        bottom: auto;
        max-width: 280px;
    }
    .section1-img2{
        width: 80%;
    }
    .section1-img3{
        display: block;
        position: absolute;
        left: 70%;
        top: 115%;
        right: auto;
        bottom: auto;
        max-width: 280px;
    }
    /* section 2 */
    .section3 {
        display: block;
    }
    .section3 h2 {
        text-align: left;
        margin-bottom: 50px;
    }
    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 0px;
    }
    /* section 3 */
    .section4{
     position: relative;
     height: 500px;
    }
    .section4-content h3{
        width: 45%;
    }

    .section4-img1{
        position: relative;
        width: 100px;
        top: -42vh;
        left: 12vh;
    }
    .section4-img2{
        position: relative;
        width: 100px;
        top: -16vh;
        left: 82vh;
    }
    .section4-img3{
        position: relative;
        width: 100px;
        top: -29vh;
        left: 12vh;
    }
    .section4-img4{
        position: relative;
        width: 100px;
        top: -82vh;
        left: 82vh;   
    }

    /* section 5 */
    .section5-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 35px;
        grid-template-rows: 1fr;
        margin: 50px 25px 70px 25px;
    }
    .section5-box{
        margin: 0;
    }
    .section5 h1{
        text-align: left;
        margin-left: 25px;
    }
        /* section 6 */
    .section6 h1{
        font-size: 2.5rem;
        margin-top: 150px;
    }

    /* form */
    form{
        display: flex;

    }
    /* email */

    .section6-input-email{
        width: 380px;
    }
    .section6-email{
        margin-bottom: 130px;
        width: 700px;
    }
    .section6-submit{
        margin: 0 0 0 20px;
        width: 180px;
    }
    .section6-input-email{
        font-size: 1.3rem;
    }
    .section6-succes{
        display: none;
    }
    .section6-fail{
        display: none;
    }
    /* footer */
    footer{
        display: flex;
    }
    .footer-info{
        text-align: left;
    }
    .footer-logo{
        margin: 0 0 30px 0;
    }
    .footer-links{
        
        grid-column-gap: 50px;
        grid-row-gap: 50px
    }
}
/* MEDIA QUERY 991PX*/
/* @media screen and (min-width: 991px){
    .contact{
        display: block;
    }
    .section1-img1{
        display: block;
    }
} */



