/* google fonts import roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* General styling */
*{
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    outline: 1px solid red;
    
}


body{
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
}
img{
   width: 10%; 
}
/* Head */
.head{
     display: flex;
     justify-content: space-between;
    
}
/* logo */
.logo-head{
    width: 60px;
    height: 18px;
    background-image: url(../img/logos/circle.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}
/* nav-bar */
.nav-bar{
    
}
/* boton contacto */
.contact{
    display: none;
}
/* MAIN */
/* Section 1 */

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}






/* MEDIA QUERY 991PX*/
/* @media screen and (min-width: 991px){
    .contact{
        display: block;
    }
} */

/* MEDIA QUERY 767PX */

